/* VARIABLES */

:root {
  --text-color: #222;
  --text-sub-color: #888;
  /* --link-color: #5d93ff; */
  --link-color: #2968ff;
  --link-active-color: #f7a046;
  --text-tag-color: #f7a046;
}

/* BASE STYLES */

*,
*:before,
*:after {
  box-sizing: border-box;
}

html {
  font-size: 16px;
}

body {
  margin: 0;
  color: var(--text-color);
  line-height: 1.625;
  font-size: 1rem;
  font-family: -apple-system, BlinkMacSystemFont, "Segoe UI", Roboto,
    Oxygen-Sans, Ubuntu, Cantarell, "Open Sans", "Helvetica Neue", sans-serif;
  /* -ms-text-size-adjust: 100%;
  -webkit-text-size-adjust: 100%;
  text-rendering: optimizeLegibility;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale; */
  font-weight: 300;
}

body,
h1,
h2,
h3,
h4,
h5,
h6 {
  font-family: -apple-system, BlinkMacSystemFont, "Segoe UI", Roboto,
    Oxygen-Sans, Ubuntu, Cantarell, "Open Sans", "Helvetica Neue", sans-serif;
}
h1,
h2,
h3,
h4,
h5,
h6 {
  font-weight: 500;
}
h1 {
  font-size: 2.5rem;
  line-height: 3.25rem;
  margin-top: 0;
  margin-bottom: 2.35625rem;
}
h2 {
  font-size: 1.6875rem;
  line-height: 2.4375rem;
}
h2,
h3 {
  margin-top: 3.25rem;
  margin-bottom: 0.8125rem;
}
h3 {
  font-size: 1.375rem;
  line-height: 1.625rem;
}
h4 {
  font-size: 1.2rem;
  margin-top: 2.4375rem;
}
h4,
h5 {
  line-height: 1.625rem;
  margin-bottom: 0.8125rem;
}
h5,
h6 {
  font-size: 1rem;
  margin-top: 4.0625rem;
}
h6 {
  line-height: 1.625rem;
  margin-bottom: 0.8125rem;
}
img {
  max-width: 100%;
  margin: 0 auto;
}
hr,
img {
  border: 0;
  display: block;
}
hr {
  color: var(--text-color);
  height: 26px;
  margin: 3.25rem auto;
  background-size: 100% 26px;
  background-image: linear-gradient(
    180deg,
    transparent 1px,
    transparent 11px,
    var(--text-color) 0,
    var(--text-color) 15px,
    transparent 0,
    transparent 26px
  );
  width: 6.25rem;
}
a {
  color: var(--link-color);
  /* text-decoration: none; */
}
a:active,
a:focus,
a:hover {
  color: var(--link-active-color);
}
b,
strong {
  font-weight: 500;
}
ul {
  list-style: square;
  margin-bottom: 1.625rem;
}
ul li {
  padding: 0 0.3125rem;
  margin-bottom: 0.625rem;
}
p {
  line-height: 1.625rem;
  margin-bottom: 1.625rem;
}
blockquote {
  padding: 0;
  margin: 0 auto;
  font-style: italic;
  text-align: center;
}
figure {
  display: block;
  width: 100%;
  height: auto;
  margin: 0 auto;
}
figcaption {
  line-height: 1.21875rem;
  margin-top: 0.40625rem;
  color: var(--text-color);
  font-size: 0.875rem;
  font-style: italic;
  margin-bottom: 0;
  text-align: center;
}
